.color-body{
    background-color: #f8f8f8;
    height: 100vh;
}
.font{
    font-family: "Almarai", sans-serif;
}
.btn-search{
    color: #b45b35;
    border: 3px solid #b45b35;
    transition: .5s;
    border-radius: 8px;
}
.btn-search:hover{
    background-color: #b45b35;
    border: 3px solid white;
    color: white;
    border-radius: 8px;
}
.brand-color{
    color: #b45b35;
}
.title{
    color: #224f61;
    font-family: Almarai;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 64px;
}
.underline{
    height: 1px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #b45b35;
}
.botton{
    color: black;
    font-family: Almarai;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    border: 1px solid #b45b35;
    transition: .3s;
    background-color: transparent;
    border-radius: 8px;
}
.botton:hover{
    color: black;
    border-radius: 11px;
    background-color: #b45b35;
}
.img-item{
    max-width: 220px;
    height: 220px;
    border-radius: 5px;
}
.item-title{
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0;
    font-family: Almarai;
}
.item-description{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    font-family: Almarai;
    color: #8c8c8c;
}
.item-price{
    color: #b45b35;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0;
    font-family: Almarai;
}